.jumbotron {
  padding-top: 5rem;
  background-image: url("BackgroundJumbotron.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#contact {
  background-image: url("BackgroundContact.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#project {
  background-color: #ffffff;
}

section {
  padding-top: 5rem;
}

footer {
  background-color: #080808;
}
